@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
html{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
#header-main{
    display: flex;
    text-decoration: none;
    list-style: none;
    position: sticky;
    font-weight: bold;
    gap: 2rem;
    padding: 2rem 2rem;
    border-bottom: 1px solid black;
}
.content-list :hover{
    color: #006241;
}
.header-secondary{
    display: flex;
    gap: 2rem;
    padding-left: 18rem;
}
.svg{
    padding-right: .5rem;
}
#box-color{
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    padding-top: 1.1em;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-radius: 20px;
    border: 1px solid #fffa;
}
#box{
    border: 1px solid black;
    padding: auto;
    margin: auto;
    margin-bottom: none;
    border-radius: 20px;
    padding: 12px;
}
.content-list{
    padding-top: 1rem;
}
.header-content{
    align-items: center;
    padding: 1rem;
    display: flex;
    gap: 2.5rem;
    list-style: none;
    text-decoration: none;
    padding-left: 8rem;
    border-bottom: 1px solid rgb(88, 86, 86);
    position: sticky;
    background-color: #0000000f;
}
.header-content :hover{
    line-height: .4rem;
    text-decoration: underline;
    /* cursor: -webkit-grabbing; */
}
.primary-content-start{
    padding-left: 8rem;
    text-decoration: none;
    list-style: none;
    line-height: 30px;
    color: #00000094;
}
#header-items{
    font-weight: 550;
    padding-top: 2rem;
    font-size: 1.1rem;
    color: black;
}
.primary-main{
    display: flex;
    padding-right: 15rem;
}
.primary-content-middle{
    padding-left: 7rem;
    list-style: none;
    text-decoration: none;
}
#secondary-categories{
    font-weight: 550;
    padding-top: 3rem;
}
.categories{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}
#header-categories{
    font-size: 1.7rem;
}
.foods-img{
    width: 6.4rem;
    border-radius: 7em;
}
.primary-content-end{
    padding-top: 9rem;
    padding-left: 2rem;
}
.categories-gap-1{
    padding-top: 4rem;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}
.categories-gap-2{
    padding-top: 12.2rem;
}
.footer{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    gap: 6rem;
    padding: 8rem 4rem 0rem 9rem;
}
.footer-head{
    font-size: 1.2rem;
}
.items{
    padding-top: 1.3rem;
    color: #00000094;
}
.items :hover{
    color: rgb(0, 0, 0);
}
.footer-end{
    padding-left: 9rem;
    padding-top: 4rem;
}
a{
    padding-right: 1rem;
    list-style: none;
    text-decoration: none;
    color: black;
}
.footer-end-middle{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 2rem;
    padding-left: 9rem;
    padding-top: 2rem;
}
.copyrights{
    color: #00000094;
    padding-left: 9rem;
}
.main-header-features{
    font-size: 3rem;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    color: #025036; 
}

.main-features{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    
}
.primary-features{
    padding: 0%;
    margin: 0%;
    background-color:#006241;
    list-style: none;
    text-align: center;
    color: #fff;
}
.secondary-features{
    padding: 0%;
    margin: 0%;
    background-color:#006241;
    list-style: none;
    text-align: center;
    color: #fff;
}

.primary-features-header{
    display: flex;
    justify-content: center;
    font-size: 1.6rem;  
}
.primary-features-content{
    font-size: 1.2rem;
}
.order{
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    border-radius: 20px;
    border: 1px solid #fff;
    justify-content: center;
    
}
.span{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color:#006241;
}
.previous-header{
    padding-left: 9rem;
    padding-top: 2rem;
}
.previous-header-1{
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.previous-content{
    padding-top: 2rem;
    font-size: 1.5rem;
    color: #00000094;
}
.previous-list{
    padding-bottom: .7rem;
    margin-right: 1rem;
}
.previous-header-list{
    padding-top: 1.5rem;
}

.color-green{
     color: #006241;
     text-decoration: underline;
}
.secondary-header-rewards{
    text-align: center;
}
.secondary-content-rewards{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    text-align: center;
}
.para-header{
    font-size: 1.2rem;
}
p{
    font-size: 1.1rem;
}
.header-navbar-gift{
    padding-left: 8rem;
    padding-top: 2rem;
}
.gift-image-1{
    border-radius: 12px;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(-10px);} 
    40% {transform: translateY(-10px);} 
 } 
 .gift-image-1:hover{
    animation: bounce 1s ease;
 } 
 
.gift-image-header-1{
    display: flex;
}
.gift-image-1 :hover{
    transform: rotate(1.4)/*zoom in not occur*/
}
.group-content-gift{
    display: flex;
    background-color: #edebe9;
    padding: 1rem;
    margin-right: 2rem;
    border-radius: 12px;
}
.secondary-gift-header{
    margin-top: 2rem;
    padding: 2rem;
    padding-left: 8rem;
    padding-right: 25rem;
    background-color:#d4e9e2;
    display: flex;
    justify-content: center;

}
#box-color-gift{
    /* display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #fffa;
    margin-bottom: none; */
    display: inline-block;
    background-color: #000;
    border: 1px solid black;
    padding: auto;
    margin: auto;
    margin-bottom: none;
    color: #fff;
    border-radius: 20px;
    padding: 12px;
}
#box-gift{
    font-size: 1.1rem;
    color: #000;
    border: .5px solid #000000;
    outline: none;
    border-radius: 12rem;
    padding: 10px;
}
/* .gift-image-1{
    animation: bounce 0.5s; 
    animation-direction: alternate; 
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
    animation-iteration-count: infinite; 
} */
.business-header{
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    padding-left: 8rem;
}
.support-flex{
    display: flex;
    gap: 1rem;
}
.support-header{
    padding-left: 8rem;
}
.right{
    padding-right: 19rem;
    color: #00000094;
}
.right-2{
    padding-right: 40rem;
    color: #00000094;
}

#box-gift-cards{
    display: inline-block;
    border: 1px solid black;
    padding: auto;
    margin: auto;
    margin-bottom: none;
    color: #000;
    border-radius: 20px;
    padding: 12px;
}


.features-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 1rem;
}


.box {
    display: block;
    width: 48vw;
}

.box img {
    height: 100%; 
    width: 100%;
    overflow: hidden;
    display: block;
    object-fit: cover;
}

.des {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    align-items: center;
    background-color: #006241;
    color: #fff;
    padding: 2rem;
}

.des span {
    font-size: x-large;
    font-weight: 600;
}

.des p {
    display: inline-flex;
    flex-wrap: wrap;
    font-size: small;
}

.des button {
    font-size: 1.1rem;
    background-color: #006241;
    color: #fff;
    border: .5px solid #fff;
    outline: none;
    border-radius: 12rem;
    padding: 10px;
}
#back-color-1{
    background-color: #b37697;
}
.des > p{
    font-size: 1.2rem;
}
#back-color-2{
    background-color: #dc0032;
}
#back-color-3{
    background-color: #ad96dc;
}
#back-color-4{
    background-color: #76232f;
}


.des-img {
    position: absolute;
    left: 5vw;
    text-align: center;
    align-items: center;
    margin-top: 20vh;
    z-index: 100;
}

/* rewards */

.header {
    width: 100%;
    height: 50px;
    position: relative;
    background-color: #025036;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_inner {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_inner p {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
}

.header_inner p sup {
    color: white;
    font-size: 4px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 1px 1px 1px 2px;
}

.header_inner a {
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    display: none;
}


main {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    border-bottom: 2px solid lightgray;
}

.section_1 {
    height: 90vh;
    width: 100%;
    background-image: url(https://www.starbucks.com/weblx/images/rewards/hero/xl-hero-desktop_2021.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(212, 233, 226);
    display: flex;
    align-items: center;
}

.section_1-inner {
    width: 20%;
    margin-left: 12%;

}

.inner-title  {
    width: 100%;
}

.inner-title h1 {
    font-size: 35px;
}

.inner-text{
    width: 100%;
    margin-top: 20px;
}

.inner-text p {
    font-size: 20px;
    font-weight: 400;
}

.inner-text p :last-child {
    margin-top: 25px;
}

.inner-text p :hover {
    text-decoration: none;
}

.inner-btn {
    width: 100%;
    margin-top: 30px;
}

.inner-btn a {
    padding: 10px 25px;
    background-color: #006241;
    color: #fff;
    border: 0;
    border-radius: 35px;
    transition: opacity 200ms;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.inner-btn a :hover {
    opacity: .8;
}

.rewards-content-header{
    display: flex;
    text-align: center;
    padding-bottom: 3rem;
}
.primary-content-rewards-header{
    text-align: center;
}